*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'vazir',sans-serif;
}
li{
    list-style: none;
    transition: all 0.5s;
}
img{
    max-width: 100%;
}
a,a:hover{
    text-decoration: none;
}
@font-face{
    font-family: 'piblog';
    src: url(static/fonts/Vazirmatn[wght].woff2) format(woff2);
}
header{
    background-color: #4fb6e2;
}
body{
    background-color: #96f9d3;
    font-size: 15px;
    font-family: 'piblog';
}
header .main-menu ul li{
    display: inline-block;
    margin: 4px;
    position: relative;
}
header .main-menu ul{
    text-align: center;
    margin: 0;
    padding: 0;
}
header .main-menu ul li a{
    display: inline-block;
    padding: 15px 5px;
    color:#eee;
    position: relative;
}
header .main-menu ul li >ul>li>a{
    position: relative;
    transition: all 0.4s;
    right: 0;
}
header .main-menu ul li >ul>li>a::before{
    position: absolute;
    content: '';
    height: 2.3px;
    top: 15px;
    right: 0;
    width: 0;
    background-color: #888;
    transition: all 0.4s;
}
header .main-menu ul li >ul>li>a:hover::before{
    position: absolute;
    content: '';
    width: 7px;
    transition: all 0.3s;
}
header .main-menu ul li >ul>li>a:hover{
    right: 8px;
    transition: all 0.3s;
}
header .main-menu ul li ul{
    position: absolute;
    top: 45px;
    right: -38px;
    width: 150px;
    background-color:#fff ;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
    visibility: hidden;
}
header .main-menu ul >li:hover >ul{
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
    padding: 8px;
}
header .main-menu ul li ul li{
    display: block;
}
header .main-menu ul li ul li a{
    color: #717171;
    padding: 5px 10px;
}
header .main-menu ul li >ul >li >ul{
    top: -4px;
    right: 100%;
}
.box{
    border: 2px solid #ddd;
    margin-left: 5px;
    margin-top: 4px;
    padding: 5px;
}
.box:first-child{
    margin-right: 7px;
}
.box:last-child{
    margin-left: 7px;
}
.row{
    display: grid;
    grid-template-columns: repeat(4 , 25%);
}
.box-title{
    text-align: center;
    display: block;
    width: 100%;
    font-weight: bold;
    color: rgb(34, 34, 34);
    font-size: 20px;
}
a{
    text-decoration: none;
}