*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'vazir',sans-serif;
}
@font-face {
    font-family: 'vazir';
    src: url(static/duc/Vazir.woff2);
}
.box{
    border: 2px solid #ddd;
    margin-left: 5px;
    margin-top: 4px;
    padding: 5px;
}
.box:first-child{
    margin-right: 7px;
}
.box:last-child{
    margin-left: 7px;
}
.row{
    display: grid;
    grid-template-columns: repeat(4 , 25%);
}
.box-title{
    text-align: center;
    display: block;
    width: 100%;
    font-weight: bold;
    color: rgb(34, 34, 34);
    font-size: 20px;
}
a{
    text-decoration: none;
}