{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>مقالات</title>
</head>
<body>
    <h2 class="titr-page">مقالات</h2>
    <div class="row">
        {% while 4: %}
        <div class="box">
            <span class="box-title">{{article.title}}</span>
            <p><span>{{article.date}}</span></p>
            <p>{{article.short_body}}</p>
            <a href="" class="btn-site">{{article.slug}}</a>
        </div>
        {% end while %}
    </div>
</body>
</html>