<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پی بلاگ</title>
</head>
<body>
 <header>
        <div class="logo">
        </div>
        <div class="mainmenu">
            <ul class="menu">
                <li><a href="" class="menulink">خانه</a></li>
                <li><a href="" class="menulink">مقالات</a></li>
                <li><a href="" class="menulink">درباره ما</a></li>
                <li><a href="" class="menulink">مشارکت</a>
                    <ul>
                        <li><a href="" class="menulink">نوشتن</a></li>
                        <li><a href="" class="menulink">ویراستاری</a></li>
                        <li><a href="" class="menulink">کمک مالی</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="acuont">
            <a href="" class="sign"></a>
        </div>
    </header>
 {% block extend %}
{%endblock%}
    <footer>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-4"></div>
        </div>
    </footer>
</body>
</html>